body {
    background-color: #1aa7ec;
    color: white;
    font-family: sans-serif;
    min-width: 280px;
}

.container {
    text-align: center;
    max-width: 300px;
    min-width: min-content;
    margin: 0 auto;
    background-color: #1c1c1c;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}

h1 {
    font-size: 33px;
}

.current-time {
    color: #1aa7ec;
    font-size: 75px;
    margin: 5px;
    font-weight: bold;

}

.am-pm {
    font-size: 20px;
    margin-left: -10px;
    font-weight: 500;
}

h4 {
    margin: 5px auto 25px;
    font-size: 12px;
    font-weight:lighter;
}

select {
    margin: 0 auto;
    display: block;
    width: 80%;
    border-radius: 5px;
    padding: 1px;
    opacity: 0.9;
    margin-top: 10px;
    margin-bottom: 20px;
}

h3.city-heading {
    margin: 30px auto 5px;
    font-size: 16px;
}

.city {
    text-align: left;
    margin: 5px auto 5px;
    border-bottom: 1px solid rgba(254, 254, 254, 0.205);
    display: block;
    padding-bottom: 3px;
    width: auto;
    height: 50px;
}

.city-date {
    font-size: 8px;
}

.city-time {
    text-align: right;
    position: relative;
    top: -38px;
    font-size: 30px;
}

.small {
    font-size: 10px;
    margin: auto 3px auto -5px;
}

footer {
    text-align: center;
    margin: 20px;
    font-size: 12px;
}